@font-face
  src: url('../fonts/avantgardegothicc.otf')
  font-family: AvantGardeGothicC

@font-face
  src: url('../fonts/avantgardegothicc-bold.otf')
  font-family: AvantGardeGothicC-bold

// vars
$agg: AvantGardeGothicC
$aggb: AvantGardeGothicC-bold
$dark: #3c3c3c
$blue: #26287f
$gray: #f5f5f5
// end vars

@mixin agg
  font-family: $agg

@mixin aggb
  font-family: $aggb

/* invest menu */
.hamburger-menu-opened
  transform: translateX(0%)

.hamburger
  position: fixed
  background: rgba(53, 55, 128, .8)
  padding: 8px
  border-radius: 100%
  align-items: center
  top: 20px
  left: 20px
  z-index: 7
  display: none
  z-index: 555

.hamburger-item
  position: relative
  display: block
  width: 20px
  height: 20px

.hamburger-inner
  position: absolute
  top: 50% 
  margin-top: -1px
  left: 50%
  margin-left: -10px
  width: 20px
  height: 2px
  background-color: #fff
  &:before, &:after
    content: ''
    position: absolute
    top: 50% 
    margin-top: -1px
    left: 50%
    margin-left: -10px
    width: 20px
    height: 2px
    background-color: #fff
    display: block
    transition: 0.3s ease
  &:before
    transform: translateY(-8px)
  &:after
    transform: translateY(8px)

.hamburger-active
  .hamburger-inner
    height: 0
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)

.menu-wrap
  width: 25%
  background-color: #fff
  transition: 0.5s ease
  z-index: 55

.menu-wrap-opened
  transform: translateX(0%) !important

.menu
  &-logo
    margin: 55px 60px 60px 60px
    a
      img
        max-width: 351px
        width: 100%

  &-langs
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    margin-left: 60px

  &-langs-item
    padding-right: 20px
    a
      text-decoration: none
    span
      text-transform: uppercase

  &-search
    position: relative
    height: 50px
    margin-left: 60px
    margin-right: 60px
    a
      position: absolute
      line-height: 45px
      left: 30px
    input
      display: block
      margin: 55px 0
      border: 1px solid #e6e6e6
      width: 100%
      max-width: 353px
      padding: 12px 12px 12px 70px
      border-radius: 26px
      background-repeat: no-repeat
      background-position: 6%
      &::placeholder 
        @include agg
        font-size: 18px

  &-link-wrap
    margin-top: 68px
    ul
      padding: 0
      li
        padding: 18px 0
        list-style-type: none
        font-size: 16px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        justify-content: center
        @include agg
        position: relative
        &:nth-child(2)
          background-image: url('../images/main-home.png')
          background-repeat: no-repeat
          background-position: 28px center
        &:nth-child(3)
          background-image: url('../images/menu-products.png')
          background-repeat: no-repeat
          background-position: 28px center
        &:nth-child(4)
          background-image: url('../images/menu-client-support.png')
          background-repeat: no-repeat
          background-position: 28px center
        &:nth-child(5)
          background-image: url('../images/menu-insuranse-case.png')
          background-repeat: no-repeat
          background-position: 28px center
        &:nth-child(6)
          background-image: url('../images/menu-pay.png')
          background-repeat: no-repeat
          background-position: 28px center 
        &:hover
          background-color: $gray  
        a
          color: $dark
          display: block
          text-decoration: none
          margin-left: 70px

  &-link-active
    background-color: $gray
    a
      color: $blue !important
    &:before
      content: ''
      background-color: #26287f
      display: block
      width: 8px
      height: 58px
      position: absolute
      box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25)
    &:after
      content: url('../images/menu-arrow-right.png')
      display: block
      position: absolute
      top: 0
      right: 36px
      padding: 18px 0

  &-phone-number
    margin: 60px 60px 50px 60px
    span
      @include aggb
      color: $blue
      font-size: 22px
      margin-left: 20px

  &-copyright
    margin: 60px
    p
      @include agg
      color: #777779
      font-size: 14px
/* end invest menu */



/* invest about content */
.european-about
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex


.european
  &-content
    width: 80%

  &-item-wrap
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    height: 50%

  &-item
    padding: 0 50px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: center
    align-items: center
    background-position: center center
    width: 100% !important
    a
      @include aggb
      font-size: 24px
      color: #353780
      display: block
      padding: 15px 33px
      background-color: #fff
      opacity: .90
      border-radius: 33px
      text-decoration: none
      transition: 0.3s ease
      text-align: center
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      align-items: center
      justify-content: center
      box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33)
      &:hover
        background-color: #353780
        color: #fff

  &-insurance-case
    background-image: url('../images/main-insurance-case.jpg')
    background-size: cover
    background-repeat: no-repeat
    text-align: center

  &-change-insurance
    background-image: url('../images/main-change_insurance.jpg')
    background-size: cover
    background-repeat: no-repeat
    text-align: center

  &-change-insurance
    background-image: url('../images/main-change_insurance.jpg')
    background-size: cover
    background-repeat: no-repeat
    text-align: center

  &-products
    background-image: url('../images/main-products.jpg')
    background-size: cover
    background-repeat: no-repeat
    text-align: center

  &-pay
    background-image: url('../images/main-pay.jpg')
    background-size: cover
    background-repeat: no-repeat
    text-align: center

  &-client-support
    background-image: url('../images/main-client-support.jpg')
    background-size: cover
    background-repeat: no-repeat
    text-align: center

  &-contacts
    background-image: url('../images/main-contacts.jpg')
    background-size: cover
    background-repeat: no-repeat
    text-align: center
/* end invest about */



/* responsive about */
@media screen and (min-width: 1490px)
  .menu-search, .menu-copyright, .menu-langs, .menu-copyright, .menu-logo, .menu-phone-number
    margin-left: 60px !important
  .menu-link-wrap
    ul
      li
        a
          padding-left: 40px
        &:nth-child(2)
          background-position: 60px center
        &:nth-child(3)
          background-position: 60px center
        &:nth-child(4)
          background-position: 60px center
        &:nth-child(5)
          background-position: 60px center
        &:nth-child(6)
          background-position: 60px center 
  .menu-phone-number
    margin-right: 10px
  .menu-search, .menu-copyright, .menu-langs, .menu-copyright, .menu-logo, .menu-phone-number
    margin-left: 28px

@media screen and (max-width: 1400px)
  .menu
    &-logo,
    &-langs,
    &-search,
    &-phone-number,
    &-copyright
      margin: 20px
    &-search
      input
        margin: 0
    &-link-wrap
      margin: 
        top: 20px
    &-phone-number
      span
        font-size: 18px
    &-link-wrap
      ul
        li
          background-position: 20px center !important
          a
            font-size: 14px

  .european
    &-item
      a
        font-size: 16px


@media screen and (max-width: 1280px)
  .menu-phone-number
    margin-right: 0
    span
      font-size: 16px

@media screen and (max-width: 1200px)
  .menu
    &-logo,
    &-langs,
    &-search,
    &-phone-number,
    &-copyright
      margin-left: 20px  
    &-link-wrap
      ul
        li
          a
            margin-left: 40px
            margin-right: 30px 
    &-search
      a
        left: 16px
      input
        padding-left: 40px
    &-wrap
      width: 500px
      ul
        li
          a
            margin-left: 70px


@media screen and (max-width: 992px)
  .menu-wrap
    position: absolute
    transform: translateX(-100%)
    width: 400px
  .european-content
    width: 100%
  .european-item-wrap
    flex-wrap: wrap
  .european-item
    height: 475px
    width: 33.3% !important
  .hamburger
    display: block
  .menu-copyright
    margin-bottom: 0
    padding: 0

@media screen and (max-width: 768px)
  .european-item
    width: 100% !important
  .footer-content
    flex-direction: column
    align-items: center
    padding: 0
  .footer-item
    text-align: center
    margin-top: 50px
    margin-right: 0
    ul
      li
        a
          line-height: 2.5

@media screen and (max-width: 400px)
  .menu-wrap
    width: 100%
/* end responsive about */



/* invest pay */
.european-pay-successfully-wrap
  background-color: rgba(0, 0, 0, .7)
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 100
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: center
  align-items: center
  display: none

.european-pay-successfully
  background-color: #fff
  padding: 40px 50px
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  h5
    font-family: $agg
    font-size: 24px
    color: $blue
    margin: 40px 0
    text-align: center
  a
    font-family: $aggb
    font-size: 24px
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33)
    border: 1px solid $blue
    display: block
    width: 280px
    padding: 10px 20px
    text-align: center
    text-decoration: none
    border-radius: 33px
    transition: 0.3s ease
    color: $blue
    &:hover
      color: #fff
      background-color: $blue



.european-pay-mistake-wrap
  background-color: rgba(0, 0, 0, .7)
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 100
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: center
  align-items: center
  display: none

.european-pay-mistake
  background-color: #fff
  padding: 40px 50px
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  h4
    color: $blue
    font-family: $aggb
  h5
    font-family: $agg
    font-size: 24px
    color: $blue
    margin: 40px 0
    text-align: center
  a
    font-family: $aggb
    font-size: 24px
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33)
    border: 1px solid $blue
    display: block
    width: 280px
    padding: 10px 20px
    text-align: center
    text-decoration: none
    border-radius: 33px
    transition: 0.3s ease
    color: $blue
    &:hover
      color: #fff
      background-color: $blue

.european-pay-mistake-phone
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flexw
  margin-bottom: 40px
  flex-wrap: wrap
  img
    width: 44px
    height: 44px
    margin-right: 20px
  h3
    font-family: $aggb
    font-size: 30px
    color: $blue


.european-main-pay
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex

.european
  &-pay-content
    width: 80%
    background-image: url('../images/invest-pay-content-bg.jpg')
    background-position: center center
    background-size: cover
    padding: 120px
    position: relative
    color: #fff
  &-pay-form
    input
      display: block
      max-width: 1000px
    button
      display: block
  &-pay-title
    h4
      font-family: $aggb
      color: #fff
      font-size: 24px
    h3
      font-family: $aggb
      color: #fff
      font-size: 30px
      margin-top: 40px
      text-transform: uppercase
      position: relative
      &:after
        content: ''
        display: block
        position: absolute
        width: 123px
        height: 3px
        background-color: #fff
        margin-top: 20px
  &-pay-form
    margin-top: 60px
    input
    [type="text"]
      padding: 15px
      border-radius: 32px
      margin-bottom: 20px
      padding-left: 30px
      background: transparent
      border: 1px solid #fff
      width: 100%
      color: #fff
      outline: none
      &:focus
        outline: none
        -webkit-outline: none
    [placeholder]
      color: #fff
    button
      background-color: #eaebeb
      color: $blue
      width: 280px
      padding: 10px 0
      border: none
      border-radius: 33px
      font-family: $aggb
      font-size: 24px
      cursor: pointer
      transition: 0.3s ease
      &:hover
        background-color: $blue
        color: #eaebeb

.invest-agree-checkbox
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  align-items: center
  margin: 45px 0
  label
    padding: 0
    margin: 0
    font-family: $agg
    font-size: 16px
  input
  [type="checkbox"]
    margin-right: 10px

/* end invest pay */


/* invest pay responsive */
@media screen and (max-width: 992px)
  .european-pay-content
    width: 100%

@media screen and (max-width: 560px)
  .european-pay-content
    padding: 20px !important
  .european-pay-successfully
    padding: 40px 20px
    width: 70%
    a
    width: 100%
    min-width: 220px
    .european-pay-mistake
    padding: 40px 20px
    a
    width: 100%
    min-width: 220px
  

@media screen and (max-width: 358px)
  .european-pay-mistake-phone
    justify-content: center
    img
      margin: 20px

@media screen and (max-width: 480px)
  .european-pay-content
    width: 100%
    padding: 50px 20px

@media screen and (max-width: 1400px)
  .european-pay-content
    padding: 50px
/* end invest pay responsive */


.european-products-item-wrap
  height: 50%
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-wrap: wrap


/* invest products */
.european-products-wrap
  width: 80%

.european-main-products
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: flex
  display: -o-flex

.european-products-item
  width: 50%
  text-align: center
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 0 20px
  a
    background-color: rgba(255, 255, 255, .6)
    padding: 12px 60px
    color: $blue
    border-radius: 33px
    text-decoration: none
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33)
    @include aggb
    font-size: 24px
    transition: 0.3s ease
    &:hover
      background-color: $blue
      color: #fff


/* items */
.borrowers-insurance
  background-image: url('../images/1-borrowers-insurance.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center center

.corporate-insurance
  background-image: url('../images/2-corporate-insurance.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center center

.family-protect
  background-image: url('../images/3-family-protection.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center center

.savings-insurance
  background-image: url('../images/4-savings-insurance.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center center

/* end items */

/* end invest products */

/* invest products responsive */
@media screen and (max-width: 1400px)
  .european-products-item a
    font-size: 16px

@media screen and (max-width: 992px)
  .european-products-wrap
    width: 100%
  .european-products-item
    height: 465px

@media screen and (max-width: 768px)
  .european-products-item
    width: 100% !important

/* invest products responsive */



/*footer */
.footer
  background-image: url('../images/footer-bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  position: relative
  padding: 30px 0
  &-content
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: flex-end
    color: #fff
    padding-left: 50px
  &-item
    margin-right: 5%
    h3
      @include aggb
      font-size: 24px
      margin-bottom: 30px
    ul
      padding: 0
    li
      list-style-type: none
    a
      color: #fff
      @include agg
      font-size: 16px
      line-height: 30px


.foooter-support
  span
    margin-right: 15px

.arrow-up
  position: absolute
  height: 100%
  bottom: 35px
  z-index: 999999
  left: 82%
  width: 60px

.copyright
  background-color: #fff
  text-align: center
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  justify-content: center
  padding: 10px
  p
    color: #000
    @include agg
    font-size: 16px
    padding: 0
    margin: 0
/*end footer */

/*footer responsive*/
@media screen and (min-width: 1600px)
  .footer-content
    margin-right: 15%

@media screen and (max-width: 992px)
  .arrow-up
    bottom: 20px
    img
      width: 40px
      height: 40px

@media screen and (max-width: 768px)
  .arrow-up
    position: absolute
    bottom: -38px
    height: 60px
  .footer-content
    flex-direction: column
    align-items: center
    padding: 0
  .footer-item
    text-align: center
    margin-top: 50px
    margin-right: 0
    ul
      li
        a
          line-height: 2.5


/*end footer responsive*/