@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
  src: url("../fonts/avantgardegothicc.otf");
  font-family: AvantGardeGothicC; }

@font-face {
  src: url("../fonts/avantgardegothicc-bold.otf");
  font-family: AvantGardeGothicC-bold; }
.super-lg{
		display:none;
	}

/* invest menu */
.hamburger-menu-opened {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%); }

.hamburger {
  position: fixed;
  background: rgba(53, 55, 128, 0.8);
  padding: 8px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20px;
  left: 20px;
  z-index: 7;
  display: none;
  z-index: 555; }

.hamburger-item {
  position: relative;
  display: block;
  width: 20px;
  height: 20px; }

.hamburger-inner {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #fff; }
  .hamburger-inner:before, .hamburger-inner:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: block;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
  .hamburger-inner:before {
    -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
            transform: translateY(-8px); }
  .hamburger-inner:after {
    -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
            transform: translateY(8px); }

.hamburger-active .hamburger-inner {
  height: 0; }
  .hamburger-active .hamburger-inner:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .hamburger-active .hamburger-inner:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.menu-wrap {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  width: 20%;
  background-color: #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 55; }

.menu-wrap-opened {
  -webkit-transform: translateX(0%) !important;
      -ms-transform: translateX(0%) !important;
          transform: translateX(0%) !important; }

.menu-logo {
  margin: 55px 60px 60px 60px; }
  .menu-logo a img {
    max-width: 351px;
    width: 100%; }

.menu-langs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px; }

.menu-langs-item {
  padding-right: 20px; }
  .menu-langs-item a {
    text-decoration: none; }
  .menu-langs-item span {
    text-transform: uppercase; }

.menu-search {
  position: relative;
  height: 50px;
  margin-left: 60px;
  margin-right: 60px; }
  .menu-search a {
    position: absolute;
    line-height: 45px;
    left: 30px; }
  .menu-search input {
    display: block;
    margin: 55px 0;
    border: 1px solid #e6e6e6;
    width: 100%;
    max-width: 353px;
    padding: 12px 12px 12px 70px;
    -webkit-border-radius: 26px;
            border-radius: 26px;
    background-repeat: no-repeat;
    background-position: 6%; }
    .menu-search input::-webkit-input-placeholder {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px; }
    .menu-search input::-moz-placeholder {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px; }
    .menu-search input:-ms-input-placeholder {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px; }
    .menu-search input::-ms-input-placeholder {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px; }
    .menu-search input::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px; }

.menu-link-wrap {
  margin-top: 68px; }
  .menu-link-wrap ul {
    padding: 0; }
    .menu-link-wrap ul li {
      padding: 18px 0;
      list-style-type: none;
      font-size: 16px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-family: 'Open Sans', sans-serif;
      position: relative; }
      .menu-link-wrap ul li:first-child {
        background-image: url("../images/insurance1.svg");
        background-repeat: no-repeat;
        background-position: 28px center;
        background-size: 25px;}
      .menu-link-wrap ul li:nth-child(2) {
        background-image: url("../images/main-home.png");
        background-repeat: no-repeat;
        background-position: 28px center; }
      .menu-link-wrap ul li:nth-child(3) {
        background-image: url("../images/menu-products.png");
        background-repeat: no-repeat;
        background-position: 28px center; }
      .menu-link-wrap ul li:nth-child(4) {
        background-image: url("../images/menu-client-support.png");
        background-repeat: no-repeat;
        background-position: 28px center; }
      .menu-link-wrap ul li:nth-child(5) {
        background-image: url("../images/menu-insuranse-case.png");
        background-repeat: no-repeat;
        background-position: 28px center; }
      .menu-link-wrap ul li:nth-child(6) {
        background-image: url("../images/menu-pay.png");
        background-repeat: no-repeat;
        background-position: 28px center; }
      .menu-link-wrap ul li:hover {
        background-color: #f5f5f5; }
      .menu-link-wrap ul li a {
        color: #3c3c3c;
        display: block;
        text-decoration: none;
        margin-left: 70px; }

.menu-link-active {
  background-color: #f5f5f5; }
  .menu-link-active a {
    color: #26287f !important; }
  .menu-link-active:before {
    content: '';
    background-color: #26287f;
    display: block;
    width: 8px;
    height: 58px;
    position: absolute;
    -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25); }
  .menu-link-active:after {
    content: url("../images/menu-arrow-right.png");
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 18px 0; }

.menu-phone-number {
  margin: 60px 60px 50px 60px; }
  .menu-phone-number a {
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;  
    color: #26287f;
    font-size: 14px;
    margin-left: 20px; }

.menu-copyright {
  margin: 60px; }
  .menu-copyright p {
    font-family: 'Open Sans', sans-serif;
    color: #777779;
    font-size: 14px; }

/* end invest menu */
/* invest about content */
.european-about {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.european-content {
  width: 80%; }

.european-item-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%; }

.european-item {
  padding: 0 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center center;
  width: 100% !important; }
  .european-item a {
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;  
    font-size: 24px;
    color: #353780;
    display: block;
    padding: 15px 33px;
    background-color: #fff;
    opacity: .90;
    -webkit-border-radius: 33px;
            border-radius: 33px;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
            box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33); }
    .european-item a:hover {
      background-color: #353780;
      color: #fff; }

.european-insurance-case {

  background: linear-gradient(rgba(0, 0, 0, 0.4) ,
              rgba(0, 0, 0, 0.4)),
              rgba(0, 0, 0, 0.4)
              url("../images/ensure-img.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center; }

.european-change-insurance {
  background-image: url("../images/main-change_insurance.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }

.european-change-insurance {
  background-image: url("../images/main-change_insurance.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }

.european-products {
  background-image: url("../images/main-products.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }

.european-pay {
  background-image: url("../images/main-pay.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }

.european-client-support {
  background-image: url("../images/main-client-support.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }

.european-contacts {
  background-image: url("../images/main-contacts.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }

/* end invest about */
/*about-us*/
.about-us-content{
  width: 80%;
  background: url("../images/about-bg.jpg") no-repeat fixed center 0;
  background-size: cover;
  padding: 50px 30px;
  position: relative;
  color: #fff;
}
.nav-tabs {
    border: none;
}
.nav-tabs .nav-link{
 display: block;
 font: 700 16px 'Open Sans', sans-serif;
 color: #FFFFFF;
 padding: 10px 7px;
 border-radius: 30px;
 outline: none;
 text-align: center;
}
.nav-tabs .nav-link.active,.nav-tabs .nav-link a:hover{
 background-color: #ededed;
 color: #26287b;
 border-radius: 30px;
 text-decoration: none;
 transition: all 0.5s ease;
}
.tabs ul{
 list-style-type: none;
 display: flex;
 flex-wrap: wrap;
 margin-bottom: 30px;
}
.tabs ul li a{
  display: block;
  font: 700 18px 'Open Sans', sans-serif;
  color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 30px;
  margin-right: 10px;
}
.tabs ul li a:hover{
  background-color: #ededed;
  color: #26287b;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.tab-content{
  padding: 10px 20px;
}
.inner-title h4{
  font-family:'Open Sans', sans-serif;
  color: #FFFFFF;
  font-size: 25px;
  margin-top: 40px;
  text-transform: uppercase;
  position: relative;
}
.inner-title p{
  font-family:'Open Sans', sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 20px;
  position: relative;
}
.inner-text p,.inner-text ul li{
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 20px;
}
.inner-text b{
  font-family: 'Open Sans', sans-serif;
}
.inner-text ul{
  list-style-image: url("../images/list.png");
}
.separator{
  border-bottom: 2px solid #FFFFFF;
  width: 100px;
  margin-bottom: 20px;
}
.head-items{
  display: flex;
  flex-wrap: wrap;
}
.head-item{
  margin-right: 29px;
}
.head-item h6{
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 20px;
}
.small-sep{
  border-bottom: 1px solid #FFFFFF;
  width: 30px;
  margin: 10px 0;
}
.item-img img{
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  height: 400px;
  width: 280px;
}
.item-img p{
  position: relative;
  margin-top: -30%;
  margin-left: 5%;
  z-index: 20;
  font: 14px 'Open Sans', sans-serif;
  color: #001848;
  padding: 20px 7px;
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 90%;
}
.item-img b{
  font-weight: 700;
}
.licence-block{
  display: flex;
  flex-wrap: wrap;
}
.licence-item{
  margin-right: 24px;
  width: 285px;
}
.licence-item img{
  width: 285px;
}
.licence-item img:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}
.licence-download{
	margin-top:40px;
}
.licence-download a p{
	margin-top:30px;
	font-size: 14px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-align:center;
	text-decoration: underline;
}
.licence-download a:hover p{
	transform: scale(1.1);
	transition: all .3s ease;
}
.download-links a p{
  margin-top:0px !important;
  font-size: 15px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
}
.bank-text h6{
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.space-top2{
  margin-top: 45px;
}
.bank-text p{
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}
.bank-text a{
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  margin-bottom: 20px;
}
.bank-text a:hover{
  transition: all 0.3s ease;
  text-decoration: none;
}
.bank-text ul{
    list-style-type: circle;
    display: flex;
    padding: 0;
}
.bank-text ul li{
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
}
.bank-text ul li:first-child{
    list-style-type: none;
    margin-left: 0;
}
.vacancy-item{
    border-left: 3px solid #FFFFFF;
    padding: 20px 20px;
    margin-bottom: 30px;
}
.vacancy-item:hover{
    background-color: rgba(255,255,255,0.3);
}
.order-item{
    border-left: 3px solid transparent;
    padding: 10px 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-out;
}
.order-item a{
    text-decoration: none;
}
.order-item:hover{
    border-left: 3px solid #FFFFFF;
    background-color: rgba(255,255,255,0.3);
}
.page-link{
    font: 15px 'Open Sans', sans-serif;
	font-weight: 700;
    color: #FFFFFF;
    background: transparent;
    border: none;
}
.page-link a{
  font: 700 15px 'Open Sans', sans-serif;
  color: #FFFFFF;
  background: transparent;
  border: none;
}
.page-link:hover,.active1{
    text-decoration: underline !important;
    background: transparent;
    transition: all 0.5s ease;
    color: #FFFFFF;

}
.page-link .active1{
  text-decoration: underline;
  background: transparent;
  transition: all 0.5s ease;
  color: #FFFFFF;
}
/*about-us end*/
/*support styles*/
.support-content{
    width: 80%;
    background: url("../images/support-bg.jpg") no-repeat fixed center 0;
    background-size: cover;
    padding: 50px 30px;
    position: relative;
    color: #fff;
}
.contact-text b{
   font-family: 'Open Sans', sans-serif;
	font-weight: 700;
    font-size: 20px;
}
.contact-text p{
    margin-bottom: 40px;
}
.contact-text p a{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 20px;
}
.collapse a{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}
.qa-block{
    margin-bottom: 40px;
}
.qa-section{
    width: auto;
}
.qa-section {
    border: 1px solid #FFFFFF;
    height: 50px;
    border-radius: 30px;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;

}
.qa-section:hover{
    background-color: #FFFFFF;
    cursor: pointer;
    color: #141318;
    transition: all 0.3s ease;
}

.qa-section  img {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}

.answer{
    border-bottom: 2px solid #FFFFFF;
    width: 800px;
    padding: 0 20px;
}
.answer p{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 30px;}
.more p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}
.no-m-l{
	margin-left: 0 !important;
}
.more p img{
    margin-left: 20px;
}
.answer-split{
    padding: 20px;
    width: auto;
    border-bottom: 2px solid #FFFFFF;
}
.answer-split p a{
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
	font-weight: 700;
  color: #FFFFFF;
  font-size: 14px;
}
.product-inner-text{
    width: 800px;
    padding: 20px;
    border-bottom: 2px solid #FFFFFF;
}
.product-inner-text p{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
}
.lib-text{
    width: 800px;
    padding: 20px;
    border-bottom: 2px solid #FFFFFF;
}
.lib-text-title h6{
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
    color: #FFFFFF;
    font-size: 20px;
}
.lib-text-title img{
    margin-right: 30px;
}
/*support end*/
/*product-ensure styles*/
.product-ensure-content{
    background: url("../images/produc-esnsure-bg.jpg") no-repeat fixed center 0;
    background-size: cover;
    width: 80%;
    padding: 50px 30px;
    position: relative;
    color: #fff;
}
.inner-title h5{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
    color: #FFFFFF;
}
.inner-title h6{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
    color: #FFFFFF;
}
.product-ensure-text p{
    font-family: 'Open Sans', sans-serif;	
    color: #FFFFFF;
    font-size: 16px;
}
.product-ensure-text h6{
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.product-ensure-text ul{
    list-style-type: none;
    padding: 0 20px;
}
.product-ensure-text ul >li:before {
    content:"\00af";
    position: absolute;
    margin-left: -20px;
    margin-top: 5px;
}
.menu-search input:focus{
    outline: none;
}
/*ensure styles*/
.ensure-content{
  width: 80%;
  background: url("../images/ensure-bg.jpg") no-repeat fixed center 0;
  background-size: cover;
  padding: 50px 30px;
  position: relative;
  color: #fff;
}

.space-top {
  margin-top: 40px;
}
.ensure-block{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.ensure-item{
  width: 240px;
  cursor: pointer;
  position: relative;
}
.ensure-item img{
  display: block;
  margin:0 auto 30px;
}
.ensure-item:hover img{
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
.btn-ensure{
  font-size: 16px;
   font-family: 'Open Sans', sans-serif;	
  color: #26287f;
  padding: 10px 70px;
  background-color: #e8e8e7;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 305px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
}
.btn-ensure:hover{
  text-decoration: none;
  color: #e8e8e7;
  background-color: #26287f;
  transition: all 0.3s ease;
}
.modal-big1{
  top:10%;
  position: absolute;
  background-color: rgba(242, 242, 242, 0.9);
  width: 880px;
  min-height: 690px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  padding: 40px;
  z-index: 999;
}
.modal-big2{
  top:10%;
  position: absolute;
  background-color: rgba(242, 242, 242, 0.9);
  width: 880px;
  min-height: 690px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  padding: 40px;
}
.close-btn a{
  position: absolute;
  right: 5%;
  top: 3%;
  font-size: 30px;
  color: #26287f;
  text-decoration: none;
}
.modal-big-title h5{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;	
  color: #26287f;
}
.modal-big-text a{
  color: #454748;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
	
}
.modal-big-text a:hover{
  color: #26287f;
}
.modal-separator{
  border-bottom: 2px solid #26287f;
  width: 100px;
  margin-bottom: 30px;
}
.modal-window1{

  left: -10%;
  bottom: 0;
  position: absolute;
  background-color: rgba(242, 242, 242, 0.9);
  width: 300px;
  height: 250px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
}
.modal-window2{
  left: -10%;
  bottom: 0;
  position: absolute;
  background-color: rgba(242, 242, 242, 0.9);
  width: 300px;
  height: 250px;
  border-radius: 20px;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
}
.modal-link a{
  text-align: left;
  display: block;
  margin: auto;
  font-family: 'Open Sans', sans-serif;	
  font-size: 15px;
  color: #26287f;
}
.modal-link a:hover{
  text-decoration: underline;
}
.modal-text p{
  text-align: center;
  display: block;
  margin: auto;
  font-family: 'Open Sans', sans-serif;	
  font-size: 15px;
  color: #26287f;
}
.list-text p{
  font-family: 'Open Sans', sans-serif;	
  font-size: 15px;
  color: #26287f;
  margin-bottom: 0;
}
.list-text ol{
  color: #26287f;
  padding: 0 20px;
}
.list-text ol li a{
 text-decoration: underline  !important;
}

.list-text ol li:nth-child(5) a{
	 text-decoration: none  !important;
}
.list-text ol li:nth-child(7) a{
	 
	 text-decoration: none  !important;
}
.list-text ul {
  padding: 0 5px;
  list-style: disc inside;
}
.list-text  ul li a{
  text-align: left;
  font-family: 'Open Sans', sans-serif;	
  font-size: 15px;
  color: #26287f;
  text-decoration: underline  !important;
  display: contents !important;
}

.modal-window3{
  left: -10%;
  bottom: 0;
  position: absolute;
  background-color: rgba(242, 242, 242, 0.9);
  width: 300px;
  height: 250px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
}
.modal-window4{
  left: -10%;
  bottom: 0;
  position: absolute;
  background-color: rgba(242, 242, 242, 0.9);
  width: 300px;
  height: 250px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
}

.modal-window5{
  left: -10%;
  bottom: 0;
  position: absolute;
  background-color: rgba(242, 242, 242, 0.9);
  width: 300px;
  height: 250px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
}
.modal-window6{
  left: -10%;
  bottom: 0;
  position: absolute;
  background-color: rgba(242, 242, 242, 0.9);
  width: 300px;
  height: 250px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
}
.modal-window7{
  left: -10%;
  bottom: 0;
  position: absolute;
  background-color: rgba(242, 242, 242, 0.9);
  width: 300px;
  height: 250px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
}
.modal-window8{
  left: -10%;
  bottom: 0;
  position: absolute;
  background-color: rgba(242, 242, 242, 0.9);
  width: 300px;
  height: 250px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
}
.call-modal{
  display: flex;
  margin-top: 20px;
}
.call-modal img{
  margin: 3px 10px 0 90px;
}
.pad-top,
.btn-call-loc{
  padding-top: 30%;
}
.pad-top2{
  padding-top: 35%;
}
.call-modal a{
  font-family: 'Open Sans', sans-serif;	
  font-size: 15px;
  color: #26287f;
}
.btn-call{
  background-color: #f2f2f2;
  display: block;
  margin: auto;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
  color: #26287f;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;	
  text-align: center;
  border-radius: 30px;
  width: 200px;
  text-decoration: none;
}
.btn-call:hover{
  text-decoration: none;
  color: #e8e8e7;
  background-color: #26287f;
  transition: all 0.3s ease;
}
.dev-alux{
  border-top: 1px solid #000000;
  background: #ffffff;
  padding: 5px;
  display: block;
  margin: auto;
  justify-content: center;
}
.dev-alux a{
  color: #000000;
}
.dev-alux img{
  margin-left: 10px;
  width: 80px;
}
/*end ensure*/
@media (max-width: 320px) {
  .modal-window1,
  .modal-window3,
  .modal-window4,
  .modal-window5,
  .modal-window6{
    left: -40px !important;
  }
  .modal-window2{
    bottom: 20px !important;
    left: -40px !important;
  }
}
@media (min-width: 320px) and (max-width: 375px){
  .modal-window1,
  .modal-window3,
  .modal-window4,
  .modal-window5,
  .modal-window6{
    left: -5% !important;
  }
  .modal-window2{
    bottom: 20px !important;
    left: -5% !important;
  }
}
@media (max-width: 576px) {
    .about-us-content,
    .product-ensure-content,
    .support-content,
    .ensure-content{
        width: 100%;
    }
    .qa-section,
    .answer,
    .product-inner-text,
    .lib-text,
    .answer-split
    {
        width: 100%;
    }
    .tabs ul{
        display: block;
    }
    .nav-tabs .nav-link {
        font-size: 17px;
        width: 100%;}
    .qa-section{
      font-size: 15px;
      padding: 10px 20px;
      height: auto;
    }
    .qa-section img{
      display: none;
    }
    .bank-text ul{
        display: block;
    }
    .page-link {
        padding: 0.5rem 5px;
        font-size: 12px;
    }
    .hidden-sm{
        display: none;
    }
    .btn-ensure{
      margin-top: 10%;
      width: 100%;
    }
    .modal-big1,.modal-big2{
        top:80%;
        width: 100%;
        left: 0;
        min-height: 80%;
        z-index: 99;
    }
    .close-btn a{
        top: 2px;
    }

    .inner-title h4{
      font-size: 24px;
    }
    .contact-text b{
      font-size: 20px;
    }
  .modal-window1,
  .modal-window2,
  .modal-window3,
  .modal-window4,
  .modal-window5,
  .modal-window6{
    left: -7% ;
  }

}


  @media (min-width: 576px) and (max-width: 768px) {
    .about-us-content,
    .product-ensure-content,
    .support-content,
    .ensure-content{
        width: 100%;
        background-attachment: scroll;
    }
    .qa-section,
    .answer,
    .product-inner-text,
    .lib-text,
    .answer-split
    {
        width: 100%;
    }
    .qa-section{
        font-size: 15px;
    }
    .btn-ensure{
      margin-top: 6%;
    }
      .modal-big1,.modal-big2{
          width: 80%;
          left: 10%;
      }
}


@media (min-width: 768px) and (max-width: 992px) {
    .about-us-content,
    .product-ensure-content,
    .support-content,
    .ensure-content{
        width: 100%;
    }
    .qa-section,
    .answer,
    .product-inner-text,
    .lib-text,
    .answer-split
    {
      width: 600px;
    }
    .qa-section{
        font-size: 15px;

    }
    .modal-big1,.modal-big2{
        width: 80%;
        left: 10%;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .modal-big1,.modal-big2{
        width: 80%;
        left: 10%;
    }
}


@media (min-width: 1200px) {
  .menu-link-wrap ul li:first-child {
    background: url(../images/insurance1.svg) no-repeat 62px center;
    background-size: 25px;
  }
  .modal-big1,.modal-big2{
    top: 5%;
  }
}
/* responsive about */
@media screen and (min-width: 1490px) {
  .menu-search, .menu-copyright, .menu-langs, .menu-copyright, .menu-logo, .menu-phone-number {
    margin-left: 60px !important; }
  .menu-link-wrap ul li a {
    padding-left: 40px; }
  .menu-link-wrap ul li:nth-child(2) {
    background-position: 60px center; }
  .menu-link-wrap ul li:nth-child(3) {
    background-position: 60px center; }
  .menu-link-wrap ul li:nth-child(4) {
    background-position: 60px center; }
  .menu-link-wrap ul li:nth-child(5) {
    background-position: 60px center; }
  .menu-link-wrap ul li:nth-child(6) {
    background-position: 60px center; }
  .menu-phone-number {
    margin-right: 10px; }
  .menu-search, .menu-copyright, .menu-langs, .menu-copyright, .menu-logo, .menu-phone-number {
    margin-left: 28px; } }

@media screen and (max-width: 1400px) {
  .menu-logo, .menu-langs, .menu-search, .menu-phone-number, .menu-copyright {
    margin: 20px; }
  .menu-search input {
    margin: 0; }
  .menu-link-wrap {
    margin-top: 20px; }
  .menu-phone-number span {
    font-size: 18px; }
  .menu-link-wrap ul li {
    background-position: 20px center !important; }
    .menu-link-wrap ul li a {
      font-size: 14px; }
  .european-item a {
    font-size: 16px; } }

@media screen and (max-width: 1280px) {
  .menu-phone-number {
    margin-right: 0; }
    .menu-phone-number span {
      font-size: 16px; } }

@media screen and (max-width: 1200px) {
  .menu-logo, .menu-langs, .menu-search, .menu-phone-number, .menu-copyright {
    margin-left: 20px; }
  .menu-link-wrap ul li a {
    margin-left: 40px;
    margin-right: 30px; }
  .menu-search a {
    left: 16px; }
  .menu-search input {
    padding-left: 40px; }
  .menu-wrap {
    width: 500px; }
    .menu-wrap ul li a {
      margin-left: 70px; } }

@media screen and (max-width: 992px) {
  .menu-wrap {
    position: absolute;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    width: 400px; }
  .european-content {
    width: 100%; }
  .european-item-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .european-item {
    height: 475px;
    width: 33.3% !important; }
  .hamburger {
    display: block; }
  .menu-copyright {
    margin-bottom: 0;
    padding: 0; } }

@media screen and (max-width: 768px) {
  .european-item {
    width: 100% !important; }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0; }
  .footer-item {
    text-align: center;
    margin-top: 50px;
    margin-right: 0; }
    .footer-item ul li a {
      line-height: 2.5; } }

@media screen and (max-width: 400px) {
  .menu-wrap {
    width: 100%; } }

/* end responsive about */
/* invest pay */
.european-pay-successfully-wrap {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none; }

.european-pay-successfully {
  background-color: #fff;
  padding: 40px 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .european-pay-successfully h5 {
    font-family: 'Open Sans', sans-serif;	
    font-size: 24px;
    color: #26287f;
    margin: 40px 0;
    text-align: center; }
  .european-pay-successfully a {
    font-family: 'Open Sans', sans-serif;	
	font-weight: 700;  
    font-size: 24px;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
            box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
    border: 1px solid #26287f;
    display: block;
    width: 280px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 33px;
            border-radius: 33px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #26287f; }
    .european-pay-successfully a:hover {
      color: #fff;
      background-color: #26287f; }

.european-pay-mistake-wrap {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none; }

.european-pay-mistake {
  background-color: #fff;
  padding: 40px 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .european-pay-mistake h4 {
    color: #26287f;
    font-family: 'Open Sans', sans-serif;	
	font-weight: 700; }
  .european-pay-mistake h5 {
     font-family: 'Open Sans', sans-serif;	
    font-size: 24px;
    color: #26287f;
    margin: 40px 0;
    text-align: center; }
  .european-pay-mistake a {
     font-family: 'Open Sans', sans-serif;	
	font-weight: 700;
    font-size: 24px;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
            box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
    border: 1px solid #26287f;
    display: block;
    width: 280px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 33px;
            border-radius: 33px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #26287f; }
    .european-pay-mistake a:hover {
      color: #fff;
      background-color: #26287f; }

.european-pay-mistake-phone {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flexw;
  margin-bottom: 40px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .european-pay-mistake-phone img {
    width: 44px;
    height: 44px;
    margin-right: 20px; }
  .european-pay-mistake-phone h3 {
     font-family: 'Open Sans', sans-serif;	
	font-weight: 700;
    font-size: 30px;
    color: #26287f; }

.european-main-pay {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.european-pay-content {
  width: 80%;
  background-image: url("../images/invest-pay-content-bg.jpg");
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 120px;
  position: relative;
  color: #fff; }

.european-pay-form input {
  display: block;
  max-width: 1000px; }

.european-pay-form button {
  display: block; }

.european-pay-title h4 {
   font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 24px; }

.european-pay-title h3 {
   font-family: 'Open Sans', sans-serif;	
	font-weight: 700;
  color: #fff;
  font-size: 30px;
  margin-top: 40px;
  text-transform: uppercase;
  position: relative; }
  .european-pay-title h3:after {
    content: '';
    display: block;
    position: absolute;
    width: 123px;
    height: 3px;
    background-color: #fff;
    margin-top: 20px; }

.european-pay-form {
  margin-top: 60px; }
  .european-pay-form [type="text"] {
    padding: 15px;
    -webkit-border-radius: 32px;
            border-radius: 32px;
    margin-bottom: 20px;
    padding-left: 30px;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    color: #fff;
    outline: none; }
    .european-pay-form [type="text"]:focus {
      outline: none;
      -webkit-outline: none; }
	.european-pay-form [type="number"] {
	  padding: 15px;
	  -webkit-border-radius: 32px;
	  border-radius: 32px;
	  margin-bottom: 20px;
	  padding-left: 30px;
	  background: transparent;
	  border: 1px solid #fff;
	  width: 100%;
	  color: #fff;
	  outline: none; }
	.european-pay-form [type="number"]:focus {
	  outline: none;
	  -webkit-outline: none; }
  .european-pay-form [placeholder] {
    color: #fff; }
  .european-pay-form button {
    background-color: #eaebeb;
    color: #26287f;
    width: 280px;
    padding: 10px 0;
    border: none;
	  outline: none;
    -webkit-border-radius: 33px;
            border-radius: 33px;
     font-family: 'Open Sans', sans-serif;	
	font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .european-pay-form button:hover {
      background-color: #26287f;
      color: #eaebeb; }

.invest-agree-checkbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0; }
  .invest-agree-checkbox label {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;	
    font-size: 16px; }
  .invest-agree-checkbox [type="checkbox"] {
    margin-right: 10px; }

/* end invest pay */
/* invest pay responsive */
@media screen and (max-width: 992px) {
  .european-pay-content {
    width: 100%; } }

@media screen and (max-width: 560px) {
  .european-pay-content {
    padding: 20px !important; }
  .european-pay-successfully {
    padding: 40px 20px;
    width: 70%;
    width: 100%;
    min-width: 220px;
    padding: 40px 20px;
    width: 100%;
    min-width: 220px; } }

@media screen and (max-width: 358px) {
  .european-pay-mistake-phone {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .european-pay-mistake-phone img {
      margin: 20px; } }

@media screen and (max-width: 480px) {
  .european-pay-content {
    width: 100%;
    padding: 50px 20px; } }

@media screen and (max-width: 1400px) {
  .european-pay-content {
    padding: 50px; } }

/* end invest pay responsive */
.european-products-item-wrap {
  height: 500px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

/* invest products */
.european-products-wrap {
  width: 80%; }

.european-main-products {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -o-flex; }

.european-products-item {
  width: 50%;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px; }
  .european-products-item a {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 12px 60px;
    color: #26287f;
    -webkit-border-radius: 33px;
            border-radius: 33px;
    text-decoration: none;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
            box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.33);
     font-family: 'Open Sans', sans-serif;	
	font-weight: 700;
    font-size: 24px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .european-products-item a:hover {
      background-color: #26287f;
      color: #fff; }

/* items */
.borrowers-insurance {
  background-image: url("../images/1-borrowers-insurance.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center; }

.corporate-insurance {
  background-image: url("../images/2-corporate-insurance.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center; }

.family-protect {
  background-image: url("../images/3-family-protection.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center; }

.savings-insurance {
  background-image: url("../images/4-savings-insurance.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center; }

/* end items */
/* end invest products */
/* invest products responsive */
@media screen and (max-width: 1400px) {
  .european-products-item a {
    font-size: 16px; } }

@media screen and (max-width: 992px) {
  .european-products-wrap {
    width: 100%; }
  .european-products-item {
    height: 465px; } }

@media screen and (max-width: 768px) {
  .european-products-item {
    width: 100% !important; } }

/* invest products responsive */
/*footer */
.footer {
  background:#ffffff;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  position: relative;
  padding: 30px 0; }
  .footer-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: #fff;
    padding-left: 50px; }
  .footer-item {
    margin-right: 5%; }
    .footer-item h3 {
      color: #26287f !important;
      font-family: 'Open Sans', sans-serif;	
	  font-weight: 700;
      font-size: 24px;
      margin-bottom: 20px;
	  height: 30px;	
}
    .footer-item ul {
      padding: 0; }
    .footer-item li {
      list-style-type: none; }
    .footer-item a {
      color: #26287f;
       font-family: 'Open Sans', sans-serif;	
      font-size: 15px;
      line-height: 30px; }

.foooter-support span {
  margin-right: 15px; 
	display:none;	
}

.arrow-up {
  position: absolute;
  height: 100%;
  bottom: 35px;
  z-index: 10;
  left: 82%;
  width: 60px; }
.arrow-up a:hover img{
    transition: all 0.3s ease;
    transform: scale(1.1);
}
.copyright {
  background-color: #fff;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px; }
  .copyright p {
    color: #000;
    font-family: 'Open Sans', sans-serif;		
    font-size: 16px;
    padding: 0;
    margin: 0; }

/*end footer */
/*footer responsive*/
@media screen and (min-width: 1600px) {
	.super-lg{
		display:block;
	}
	.sm-hide{
		display:none;
	}
	
  .footer-content {
    margin-right: 10%; } }

@media screen and (max-width: 992px) {
  .arrow-up {
    bottom: 20px; }
    .arrow-up img {
      width: 40px;
      height: 40px; } }

@media screen and (max-width: 768px) {
  .arrow-up {
    position: absolute;
    bottom: -38px;
    height: 60px; }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0; }
  .footer-item {
    text-align: center;
    margin-top: 50px;
    margin-right: 0; }
    .footer-item ul li a {
      line-height: 2.5; } }

/*end footer responsive*/
@media screen and (min-width: 1400px){
	.ensure-item{
		width: 350px;
	}
	.modal-window1,
	.modal-window8{
		left: 0;
	}
	.modal-window2,
	.modal-window7,
	.modal-window3,
	.modal-window4,
	.modal-window5,
	.modal-window6
	{
		left: 8%;
	}
}



.two img{
  animation-name: scaleImg;
  animation-duration: .2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes scaleImg{
  from{
    transform: scale(1);
  }
  to{
    transform:scale(1.1)
  }
}